*{
    box-sizing: border-box;
}
body{
    background-color: darkslategrey;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(112, 20, 20);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
form{
    display: flex;
    align-items: center;
    width: 100%;
}
h2{
    flex: 1;
    margin: 0;
    color: white;
    animation: bounce 2s ;
}
@keyframes bounce {
    0%, 20% , 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-15px);
    }
}
.search{
    flex: 0.15;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(112, 20, 20);
}
.search::placeholder{
    color: white;
}
.search:hover{
    background-color: rgb(204, 83, 83);
    cursor: pointer;
}

